*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-family: 'Karla', sans-serif;
}

.container-header{
    width: 620px;
    margin: 0 auto;
    background-color: #ede0d4;
    display: flex;
}
.logo{
    width: 80px;
    display: block;
    margin: auto 0 auto 120px;
}
.title{
    color: #CB5C70ff;
    text-shadow: 0 0 0.8px white;
    margin-left: 20px;
}

h2{
    padding-top: 5px;
    margin-bottom: 6px;
}

h1{
    margin-top: 0px;
}

/*############################################ MAIN SECTION #############################################*/

.container-main{
    width: 620px;
    margin: 25px auto 0 auto;
    display: flex;
    flex-direction: column;
}

h3{
    margin: 0 auto;
}

.controls-container{
    width: 200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.moods-container{
    margin-top:28px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DDB892;
    border-radius: 5px;
}

.radio{
    display: flex;
    padding: 4px 8px;
    border-bottom: 1px solid #DDB892;
}

label{
    cursor: pointer;
    padding: 3px;
    width: 100%;
}

input[type="radio"]{
    cursor: pointer;
}

.radio:last-child{
    border-bottom: none;
}

.highlight{
    background-color: #fff0ee;
    color: #7F5539;
    font-weight: bold;
    accent-color: #7F5539;
}

.gifs-check{
    margin: 25px auto;
}

.get-image-btn{
    margin: 0 auto 20px auto;
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    background-color: #ede0d4;
    border-radius: 5px;
    color: #7F5539;
    font-weight: bold;
    text-shadow: 0 0 1px white;
    cursor: pointer;
}

.get-image-btn:active{
    transform: scale(0.95);
    border: 2px solid #9C6644;
}

/*########################### MODAL ################################*/

.modal-container{
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    top: 110px;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    height: 500px;
    background-color: #DDB892;
}

.modal-close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}
.modal-close-btn:hover{
    transform: scale(0.95);
    background-color: rgb(212, 24, 24);
    border: 2px solid rgb(212, 24, 24);
}

.goggins-img{
    max-width: 410px;
    max-height: 430px;
    border-radius: 5px;
}